body{
background-color: #73afb6;
} 

h2{
  font-size: x-large;
  
}

header {
  width: 100%;
  background-color: #5e9ca0;
  display:inline-flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 250px;
  height:80px;
  text-align: center;
  margin-right: 30px;
  
  
}

header nav li {
 display: inline-block;
 padding: 20px;
 font-family: 'Oswald', sans-serif;
}

header h1 {
  font-size: xx-large;
  margin-left: 30px;
  font-family: 'Cedarville Cursive', cursive;
  
}

 


a {
  color: #2b2301;
  text-decoration: none;
  
}

#main {
 height: 800px;
}


#section1{
 padding: 20px;
  
  display: flex;
}

#section1 h2 {
  font-family: 'Courgette', cursive;
  padding: 30px;
}

#section1 p{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

main img{
  width: 200px;
  height: 200px;
  padding-top: 60px;
  padding-right: 80px;
  justify-content: l;
  flex-wrap: wrap;
}

#tabel1 caption{
  font-family: monospace;
  padding-top: 80px;
  padding-bottom: 10px;
  font-size: medium;
  
}
#tabel1  {
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 0px;
  height: 70px;
  font-size: 10px;
  width: 100%;
  padding: 10%;
  text-align: center;
  align-self: unset;
 
}

#tabel1 td, #tabel1 th {
  border: 1px dotted black;
  text-align: center;
  padding:10px;
}

#section2 {
  align-self: flex-end;
}
#section2 h2{
  font-family: 'Courgette', cursive;
  font-size: medium;
   padding: 10px;
}

#section2 img{
  width: 200px;
  height: 200px;
  padding: 10px;
}
 

footer{
  width: 100%;
  background-color: #e2da99;
  display:inline-flex;
  justify-content: space-between;
  align-items: center;
}

footer h1 {
  font-size: large;
  margin-left: 30px;
  font-family: 'Cedarville Cursive', cursive;
}

footer nav li{
  display: inline-block;
  padding: 20px;
  font-family: 'Oswald', sans-serif;
}

#store {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
}